In [1]:
# list of integers
int_list = [5, 7, 4, 2, 1, 3, 6]
int_list

[5, 7, 4, 2, 1, 3, 6]

In [2]:
# set of integers
int_set = {5, 7, 4, 2, 1, 3, 6}
int_set

{1, 2, 3, 4, 5, 6, 7}

In [3]:
# type of games
indoor = 'Table Tennis'
outdoor = 'Football'
board = 'Catan'
video = 'FIFA'

In [4]:
# print their hash values
print('Type (Indoor):',hash(indoor))
print('Type (Outdoor):',hash(outdoor))
print('Type (Board):',hash(board))
print('Type (Video):',hash(video))

Type (Indoor): -4464433993617502454
Type (Outdoor): -3145543740851613275
Type (Board): -5590025923601514433
Type (Video): 7232675453759160815

In [5]:
# create set of games
games = {video, outdoor, indoor, board}
games

{'Catan', 'FIFA', 'Football', 'Table Tennis'}

In [6]:
# iterate through set 
for game in games:
    print(game)

Table Tennis
Football
Catan
FIFA

In [7]:
# create list of games
games_list = [video, outdoor, indoor, outdoor, board, outdoor, video, indoor, board, outdoor, video]
games_list

['FIFA',
 'Football',
 'Table Tennis',
 'Football',
 'Catan',
 'Football',
 'FIFA',
 'Table Tennis',
 'Catan',
 'Football',
 'FIFA']

In [8]:
# create set of games
games_set = {video, outdoor, indoor, outdoor, board, outdoor, video, indoor, board, outdoor, video}
games_set

{'Catan', 'FIFA', 'Football', 'Table Tennis'}

In [9]:
# create list of game types
game_type_1 = [indoor, board]
game_type_2 = [outdoor, video]

# create game type set -> below code will give error
game_type_set = {game_type_1, game_type_2}
game_type_set

TypeError: unhashable type: 'list'

In [10]:
# create empty list 
int_list = []

# iterate over the range of integers
for val1 in range(1,6):
    # iterate over the range of integers
    for val2 in range(2,6):
        int_list.append(val1 * val2)
        
# print list of integers
int_list

[2, 3, 4, 5, 4, 6, 8, 10, 6, 9, 12, 15, 8, 12, 16, 20, 10, 15, 20, 25]

In [11]:
# create empty list 
int_set = set()

# iterate over the range of integers
for val1 in range(1,6):
    # iterate over the range of integers
    for val2 in range(2,6):
        int_set.add(val1 * val2)
        
# print list of integers
int_set

{2, 3, 4, 5, 6, 8, 9, 10, 12, 15, 16, 20, 25}

In [12]:
# create list of integers using list comprehension
[val1 * val2 for val1 in range(1,6) for val2 in range(2,6)]

[2, 3, 4, 5, 4, 6, 8, 10, 6, 9, 12, 15, 8, 12, 16, 20, 10, 15, 20, 25]

In [13]:
# create set of integers using set comprehension
{val1 * val2 for val1 in range(1,6) for val2 in range(2,6)}

{2, 3, 4, 5, 6, 8, 9, 10, 12, 15, 16, 20, 25}

In [14]:
# input string with repetitive planet names
inp_string = 'Sun #Jupiter #Uranus #Earth #Mars Ganymede #Saturn Titan #Mercury Callisto Moon  Europa \
                #Venus Triton #Neptune Pluto Eris #Earth Haumea Rhea #Venus Makemake #Uranus Titania #Saturn'

# get set of planets
{planet[1:] for planet in inp_string.split(' ') if '#' in planet}

{'Earth', 'Jupiter', 'Mars', 'Mercury', 'Neptune', 'Saturn', 'Uranus', 'Venus'}