#### Konwledge Sharing Content

<img src="https://pandas.pydata.org/static/img/pandas.svg" width="250">

# <center> Data Types

#### By - [Bhanu Pratap Singh](https://www.linkedin.com/in/bpst/)

In [1]:
# importing packages
import pandas as pd

In [5]:
# load dataset
games = pd.read_csv('datasets/chess-games.csv')
games.head(2)

,id,rated,created_at,last_move_at,turns,victory_status,winner,increment_code,white_id,white_rating,black_id,black_rating,moves,opening_eco,opening_name,opening_ply
0,TZJHLljE,False,1.504210e+12,1.504210e+12,13,outoftime,white,15+2,bourgris,1500,a-00,1191,d4 d5 c4 c6 cxd5 e6 dxe6 fxe6 Nf3 Bb4+ Nc3 Ba5...,D10,Slav Defense: Exchange Variation,5
1,l1NXvwaE,True,1.504130e+12,1.504130e+12,16,resign,black,5+10,a-00,1322,skinnerua,1261,d4 Nc6 e4 e5 f4 f6 dxe5 fxe5 fxe5 Nxe5 Qd4 Nc6...,B00,Nimzowitsch Defense: Kennedy Variation,4

In [14]:
# set pandas package option to format float values
pd.options.display.float_format = "{:,.2f}".format

In [15]:
# view dataframe - checkout created_at or last_move_at columns
games.head(2)

,id,rated,created_at,last_move_at,turns,victory_status,winner,increment_code,white_id,white_rating,black_id,black_rating,moves,opening_eco,opening_name,opening_ply
0,TZJHLljE,False,"1,504,210,000,000.00","1,504,210,000,000.00",13,outoftime,white,15+2,bourgris,1500,a-00,1191,d4 d5 c4 c6 cxd5 e6 dxe6 fxe6 Nf3 Bb4+ Nc3 Ba5...,D10,Slav Defense: Exchange Variation,5
1,l1NXvwaE,True,"1,504,130,000,000.00","1,504,130,000,000.00",16,resign,black,5+10,a-00,1322,skinnerua,1261,d4 Nc6 e4 e5 f4 f6 dxe5 fxe5 fxe5 Nxe5 Qd4 Nc6...,B00,Nimzowitsch Defense: Kennedy Variation,4

In [17]:
# check datframe datatypes
games.dtypes

id                 object
rated                bool
created_at        float64
last_move_at      float64
turns               int64
victory_status     object
winner             object
increment_code     object
white_id           object
white_rating        int64
black_id           object
black_rating        int64
moves              object
opening_eco        object
opening_name       object
opening_ply         int64
dtype: object

In [18]:
# return average values for float and integer values in dataset
games.mean()

rated                          0.81
created_at     1,483,616,852,629.09
last_move_at   1,483,617,722,336.14
turns                         60.47
white_rating               1,596.63
black_rating               1,588.83
opening_ply                    4.82
dtype: float64

In [19]:
# divide integer by float
games['turns'][0]/games['last_move_at'][0]

8.642410301753079e-12

In [21]:
# consider one number
games['turns'][2]

61

In [22]:
# change data type of number
games['turns'][2].astype(float)

61.0

In [26]:
# consider one float number
games['last_move_at'][9]

1503440000000.0

In [27]:
# change data type of float number
games['last_move_at'][9].astype(int)

-2147483648

In [29]:
# convert to object
games['turns'][2].astype(str)

'61'